@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
   .h1 {
      @apply text-3xl lg:text-4xl  capitalize font-bold font-roboto;
   }

   .h2 {
      @apply text-2xl md:text-[28px] font-bold py-4 mb-4 capitalize font-roboto;
   }

   .h3 {
      @apply text-xl md:text-2xl font-semibold capitalize font-roboto;
   }

   .h4 {
      @apply text-lg md:text-xl capitalize font-roboto;
   }

   .btn {
      @apply text-sm lg:text-base uppercase font-semibold px-5 md:px-8 py-2 rounded-md focus:ring-2 focus:ring-blue-500;
   }

   .btn-1 {
      @apply btn bg-black text-white transition-all duration-200 ease-in-out  md:hover:tracking-[.2rem] active:scale-90;
   }

   .btn-2 {
      @apply btn border border-black transition-all duration-200 ease-in-out md:hover:tracking-[.2rem] active:scale-90;
   }

   .btn-3 {
      @apply btn capitalize bg-gray-200  transition-all duration-200 ease-in-out hover:bg-black hover:text-white active:scale-90;
   }

   .btn-t {
      @apply inline-block capitalize tracking-wider font-semibold bg-white text-white shadow-sm bg-opacity-20 py-2 px-4 rounded-md  hover:bg-opacity-40;
   }

   .btn-rounded {
      @apply w-10 h-10 text-xl font-semibold border border-gray-300 text-gray-600 rounded-full transform  transition duration-100 ease-in-out hover:bg-black hover:text-white hover:border-black active:scale-90;
   }

   .input {
      @apply bg-gray-200 text-black px-4 py-2 rounded-md  focus:outline-none border border-gray-300 focus:border-blue-500;
   }

   .input-1 {
      @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-md  focus:border-blue-500  block w-full p-2.5;
   }
}

.slick-prev::before {
   content: "\003008" !important;
}

.slick-next::before {
   content: "\003009" !important;
}

.slick-prev::before,
.slick-next::before {
   color: black !important;
}

.slick-next,
.slick-prev {
   right: 5px;
   background: #fff;
   border-radius: 5px;
   width: 30px;
   height: 40px;
   opacity: 0.7;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.slick-next {
   right: 5px;
   padding-left: 12px;
}

.slick-prev {
   left: 5px;
   z-index: 1;
   padding-right: 10px;
}

.slick-prev:focus,
.slick-next:focus,
.slick-prev:hover,
.slick-next:hover {
   background: #fff;
   opacity: 0.9;
}

input:focus,
button:focus,
a:focus {
   outline: none;
}

::-moz-selection {
   /* Code for Firefox */
   color: #fff !important;
   background: #000 !important;
}

::selection {
   color: #fff !important;
   background: #000 !important;
}
